Obter base de dados

In [3]:
import pandas as pd

In [6]:
# ID do arquivo no Google Drive
file_id = "1DcS1VgGGVa5O6JHuD7ZeKmxgI1ejCw4m"

In [7]:
# URL para download do arquivo usando o ID
url = f"https://drive.google.com/uc?id={file_id}"

In [8]:
# Ler o arquivo CSV diretamente do Google Drive
dados = pd.read_csv(url)

Importação e Limpeza

In [10]:
# Visualizar as primeiras linhas do DataFrame para entender a estrutura dos dados
print("Antes da limpeza:")
print(dados.head())

Antes da limpeza:
              address      district  area  bedrooms  garage  \
0          Rua Herval    Belenzinho    21         1       0
1  Avenida São Miguel  Vila Marieta    15         1       1
2    Rua Oscar Freire     Pinheiros    18         1       0
3    Rua Júlio Sayago       Vila Ré    56         2       2
4  Rua Barata Ribeiro    Bela Vista    19         1       0

                 type  rent  total
0     Studio e kitnet  2400   2939
1     Studio e kitnet  1030   1345
2         Apartamento  4000   4661
3  Casa em condomínio  1750   1954
4     Studio e kitnet  4000   4654

In [11]:
# Verificar se há valores ausentes
print("\nValores ausentes antes da limpeza:")
print(dados.isnull().sum())

Valores ausentes antes da limpeza:
address     0
district    0
area        0
bedrooms    0
garage      0
type        0
rent        0
total       0
dtype: int64

In [19]:
# Preencher valores ausentes nas colunas não numéricas com uma string vazia
dados = dados.fillna('')

In [20]:
# Dicionário com valores específicos para preencher em cada coluna não numérica
valores_preenchimento = {'endereco': 'endereco_desconhecido', 'bairro': 'bairro_desconhecido', 'tipo': 'tipo_desconhecido'}

In [21]:
# Preencher valores específicos nas colunas não numéricas
dados = dados.fillna(valores_preenchimento)

In [22]:
# Visualizar as primeiras linhas do DataFrame após limpeza
print("\nDepois da limpeza:")
print(dados.head())

Depois da limpeza:
              address      district  area  bedrooms  garage  \
0          Rua Herval    Belenzinho    21         1       0
1  Avenida São Miguel  Vila Marieta    15         1       1
2    Rua Oscar Freire     Pinheiros    18         1       0
3    Rua Júlio Sayago       Vila Ré    56         2       2
4  Rua Barata Ribeiro    Bela Vista    19         1       0

                 type  rent  total
0     Studio e kitnet  2400   2939
1     Studio e kitnet  1030   1345
2         Apartamento  4000   4661
3  Casa em condomínio  1750   1954
4     Studio e kitnet  4000   4654

Análise Descritiva

Modelagem de Regressão Linear

Visualização de Dados